:root {
  --body-font: "Space Mono", monospace;

  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan1: hsl(186, 14%, 43%);
  --dark-grayish-cyan2: hsl(184, 14%, 56%);
  --light-grayish-cyan1: hsl(185, 41%, 84%);
  --light-grayish-cyan2: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--light-grayish-cyan1);
  font-family: var(--body-font);
}
.container {
  margin: 10vh 14vw;
}
.main_title {
  margin: 3rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  color: var(--very-dark-cyan);
  font-size: 1.75rem;
}
.calculator_wrapper {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 1rem;
}
.input_wrapper {
  flex-basis: 50%;
  padding: 0 2em 0 0.5em;
}
.input_wrapper div {
  margin-bottom: 2rem;
}
.input_wrapper div:last-child {
  margin-bottom: 0;
}
.tip_options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5em;
}
.tip_option {
  border: none;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-family: var(--body-font);
  padding: 6px;
  font-size: 22px;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.tip_option:hover {
  background-color: var(--light-grayish-cyan1);
  color: var(--very-dark-cyan);
}
.tip_option:focus {
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
}
#custom_tip {
  width: 100%;
  /* border: none; */
  background-color: var(--light-grayish-cyan2);
  /* padding: 10px 6px; */
  box-sizing: border-box;
  text-align: right;
  font-size: 20px;
  /* border-radius: 0.5rem; */
  color: var(--very-dark-cyan);
}
#custom_tip:focus {
  outline: none;
}
.title {
  margin: 0 0 10px 0;
  color: var(--very-dark-cyan);
  font-size: 18px;
}
.input_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-grayish-cyan2);
  padding: 10px 20px;
  border-radius: 0.5rem;
}
.input_form input {
  width: 90%;
  font-size: 24px;
  border: none;
  background-color: var(--light-grayish-cyan2);
  text-align: right;
  color: var(--very-dark-cyan);
}
.input_form input:focus {
  outline: none;
}
.result_wrapper {
  background-color: var(--very-dark-cyan);
  flex-basis: 50%;
  border-radius: 1rem;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result_title_wrapper {
  flex-basis: 40%;
}
.result_title_wrapper p {
  margin: 0 0 0.3rem 0;
}
.result_wrapper .title {
  color: var(--white);
  /* margin: 0 0 10px 0; */
}
.subtitle {
  color: var(--dark-grayish-cyan2);
}
.result_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.display_result {
  flex-basis: 60%;
  text-align: right;
  color: var(--strong-cyan);
  font-weight: 600;
  font-size: 2.5rem;
  margin: 0;
}
#resetBtn {
  border: none;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  width: 100%;
  padding: 10px;
  font-weight: 600;
  font-size: 1.3rem;
  border-radius: 0.5rem;
}
/* Tablet size */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile size */
@media (max-width: 767px) {
}
